{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "react-app",
    "airbnb"
  ],
  "rules": {
    "accessor-pairs": "off",
    "array-bracket-newline": ["error", "consistent"],
    "array-bracket-spacing": ["error", "never"],
    "array-callback-return": ["error", { "allowImplicit": false, "checkForEach": true }],
    "array-element-newline": ["error", "consistent"],
    "arrow-body-style": ["off", "as-needed"],
    "arrow-parens": ["error", "always"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "block-scoped-var": "error",
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs"],
    "camelcase": ["error", { "properties": "always", "allow": [] }],
    "capitalized-comments": ["error", "never"],
    "class-methods-use-this": "error",
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["error"],
    "comma-style": ["error", "last"],
    "complexity": ["error", 3],
    "computed-property-spacing": ["error", "never"],
    "consistent-return": "error",
    "consistent-this": ["error", "this"],
    "curly": ["error", "all"],
    "default-case": "error",
    "default-case-last": "error",
    "default-param-last": "error",
    "dot-notation": "error",
    "eqeqeq": ["error", "always"],
    "eol-last": ["error", "always"],
    "func-call-spacing": ["error", "never"],
    "func-name-matching": ["error", "always"],
    "func-names": ["error", "never"],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "function-call-argument-newline": ["error", "consistent"],
    "function-paren-newline": ["error", "consistent"],
    "generator-star-spacing": ["error", { "before": true, "after": false }],
    "grouped-accessor-pairs": ["error", "getBeforeSet"],
    "guard-for-in": "error",
    "id-denylist": ["error", "someDeniedIdentifier"],
    "id-length": ["error", { "min": 2, "max": 42 }],
    "id-match": "off",
    "implicit-arrow-linebreak": ["error", "beside"],
    "import/extensions": [
      "error",
      "never",
      { "js": "never", "jsx": "never", "ts": "never", "tsx": "never" }
    ],
    "import/first": "error",
    "import/no-amd": "error",
    "import/no-anonymous-default-export": "error",
    "import/no-webpack-loader-syntax": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "object",
          "builtin",
          "external",
          ["internal", "parent", "sibling"],
          "index"
        ]
      }
    ],
    "indent": ["error", 2],
    "init-declarations": ["error", "always"],
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing": ["error"],
    "keyword-spacing": ["error"],
    "line-comment-position": ["error", { "position": "above" }],
    "linebreak-style": ["error", "unix"],
    "lines-around-comment": ["error"],
    "lines-between-class-members": ["error", "always"],
    "max-classes-per-file": ["error", 4],
    "max-depth": ["error", 3],
    "max-len": ["error", 128, { "ignoreUrls": true }],
    "max-lines": ["error", 256],
    "max-lines-per-function": "off",
    "max-nested-callbacks": ["error", 3],
    "max-params": ["error", 8],
    "max-statements": "off",
    "max-statements-per-line": ["error", { "max": 1 }],
    "multiline-comment-style": "off",
    "multiline-ternary": "off",
    "new-cap": "error",
    "new-parens": ["error", "always"],
    "newline-before-return": "off",
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "no-alert": "error",
    "no-array-constructor": "error",
    "no-await-in-loop": "off",
    "no-bitwise": ["error", { "int32Hint": true }],
    "no-caller": "error",
    "no-confusing-arrow": "error",
    "no-console": "error",
    "no-const-assign": "error",
    "no-constructor-return": "error",
    "no-continue": "error",
    "no-div-regex": "error",
    "no-duplicate-imports": "error",
    "no-else-return": ["error", { "allowElseIf": false }],
    "no-empty-function": "error",
    "no-empty-pattern": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-extra-parens": ["error", "all", { "ignoreJSX": "all" }],
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implicit-coercion": ["error", { "boolean": false }],
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-inline-comments": "error",
    "no-invalid-this": ["error", { "capIsConstructor": false }],
    "no-iterator": "error",
    "no-labels": "error",
    "no-label-var": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-loop-func": "error",
    "no-loss-of-precision": "error",
    "no-magic-numbers": ["error", { "ignoreArrayIndexes": false, "ignoreDefaultValues": true }],
    "no-mixed-operators": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-assign": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-multiple-empty-lines": ["error", { "max": 3, "maxEOF": 1, "maxBOF": 0 }],
    "no-negated-condition": "error",
    "no-nested-ternary": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "no-octal-escape": "error",
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": "off",
    "no-promise-executor-return": "error",
    "no-proto": "error",
    "no-prototype-builtins": "off",
    "no-restricted-exports": ["off"],
    "no-restricted-globals": ["error", "event"],
    "no-restricted-imports": ["error", "rxjs/internal/*"],
    "no-restricted-properties": [
      "error",
      {
        "property": "__defineGetter__",
        "message": "Please use Object.defineProperty instead."
      },
      {
        "property": "__defineSetter__",
        "message": "Please use Object.defineProperty instead."
      }
    ],
    "no-restricted-syntax": ["error", "WithStatement", "BinaryExpression[operator='in']"],
    "no-return-assign": ["error", "always"],
    "no-return-await": "off",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow": ["error"],
    "no-tabs": "error",
    "no-template-curly-in-string": "error",
    "no-ternary": "off",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-undef-init": "error",
    "no-underscore-dangle": "error",
    "no-unmodified-loop-condition": "error",
    "no-unneeded-ternary": "error",
    "no-unreachable-loop": "error",
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "no-use-before-define": ["off"],
    "no-useless-backreference": "error",
    "no-useless-call": "error",
    "no-useless-computed-key": ["error", { "enforceForClassMembers": true }],
    "no-useless-concat": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    "no-useless-return": "error",
    "no-void": ["error", { "allowAsStatement": true }],
    "no-var": "error",
    "no-warning-comments": "off",
    "no-whitespace-before-property": "error",
    "object-curly-newline": ["error", { "consistent": true }],
    "object-curly-spacing": ["error", "always"],
    "object-property-newline": ["error", { "allowAllPropertiesOnSameLine": true }],
    "object-shorthand": "off",
    "one-var": ["error", "never"],
    "one-var-declaration-per-line": ["error", "always"],
    "operator-assignment": ["error", "always"],
    "operator-linebreak": ["error", "after", { "overrides": { "?": "before", ":": "before" } }],
    "prefer-arrow-callback": ["error"],
    "prefer-const": "error",
    "prefer-destructuring": [
      "error",
      { "object": false, "array": true },
      { "enforceForRenamedProperties": false }
    ],
    "prefer-named-capture-group": "error",
    "prefer-numeric-literals": "error",
    "prefer-promise-reject-errors": "error",
    "padded-blocks": ["error", "never"],
    "padding-line-between-statements": "off",
    "prefer-exponentiation-operator": "error",
    "prefer-object-spread": "error",
    "prefer-regex-literals": ["error", { "disallowRedundantWrapping": true }],
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "quote-props": ["error", "as-needed"],
    "quotes": ["error", "single"],
    "radix": ["error", "as-needed"],
    "react/boolean-prop-naming": ["error", { "rule": "^(is|has)[A-Z]([A-Za-z0-9]?)+", "validateNested": true }],
    "react/button-has-type": "error",
    "react/default-props-match-prop-types": "error",
    "react/destructuring-assignment": "off",
    "react/display-name": "off",
    "react/forbid-component-props": "off",
    "react/forbid-dom-props": "off",
    "react/forbid-elements": ["error", { "forbid": ["table", "thead", "tbody", "tr", "th", "td"] }],
    "react/forbid-foreign-prop-types": "error",
    "react/forbid-prop-types": ["error", { "forbid": ["any", "array", "object"] }],
    "react/function-component-definition": [
      "error",
      { "namedComponents": "arrow-function", "unnamedComponents": "arrow-function" }
    ],
    "react/jsx-boolean-value": ["error", "never"],
    "react/jsx-child-element-spacing": "error",
    "react/jsx-closing-bracket-location": ["error", "line-aligned"],
    "react/jsx-closing-tag-location": "error",
    "react/jsx-curly-brace-presence": ["error", "never"],
    "react/jsx-curly-newline": ["error", { "multiline": "require", "singleline": "consistent" }],
    "react/jsx-curly-spacing": ["error"],
    "react/jsx-equals-spacing": ["error", "never"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/jsx-first-prop-new-line": ["error", "multiline-multiprop"],
    "react/jsx-fragments": ["error", "element"],
    "react/jsx-handler-names": [
      "error",
      {
        "eventHandlerPrefix": "handle",
        "eventHandlerPropPrefix": "on",
        "checkLocalVariables": true,
        "checkInlineFunction": false
      }
    ],
    "react/jsx-indent-props": ["error", "first"],
    "react/jsx-indent": ["error", 2, { "indentLogicalExpressions": true }],
    "react/jsx-key": ["error", { "checkFragmentShorthand": true }],
    "react/jsx-max-depth": ["error", { "max": 4 }],
    "react/jsx-max-props-per-line": ["error", { "maximum": 1, "when": "multiline" }],
    "react/jsx-no-bind": ["error", { "allowArrowFunctions": true }],
    "react/jsx-no-comment-textnodes": "error",
    "react/jsx-no-duplicate-props": ["error"],
    "react/jsx-no-literals": "off",
    "react/jsx-no-script-url": "error",
    "react/jsx-no-target-blank": ["error", { "enforceDynamicLinks": "always" }],
    "react/jsx-no-undef": ["error"],
    "react/jsx-no-useless-fragment": "error",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-pascal-case": ["error"],
    "react/jsx-props-no-multi-spaces": "error",
    "react/jsx-props-no-spreading": ["off", { "exceptions": [] }],
    "react/jsx-sort-default-props": "off",
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": true,
        "shorthandFirst": false,
        "shorthandLast": false,
        "ignoreCase": false,
        "noSortAlphabetically": true,
        "reservedFirst": true
      }
    ],
    "react/jsx-tag-spacing": ["error"],
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "ignore",
        "logical": "ignore",
        "prop": "ignore"
      }
    ],
    "react/no-access-state-in-setstate": "error",
    "react/no-adjacent-inline-elements": "error",
    "react/no-array-index-key": "error",
    "react/no-children-prop": "error",
    "react/no-danger-with-children": "error",
    "react/no-danger": "error",
    "react/no-deprecated": "error",
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-find-dom-node": "error",
    "react/no-is-mounted": "error",
    "react/no-multi-comp": ["error", { "ignoreStateless": true }],
    "react/no-redundant-should-component-update": "error",
    "react/no-render-return-value": "error",
    "react/no-set-state": "off",
    "react/no-string-refs": "error",
    "react/no-this-in-sfc": "error",
    "react/no-typos": "error",
    "react/no-unescaped-entities": ["error"],
    "react/no-unknown-property": ["error"],
    "react/no-unsafe": ["error", { "checkAliases": true }],
    "react/no-unused-prop-types": ["error"],
    "react/no-unused-state": "error",
    "react/no-will-update-set-state": "error",
    "react/prefer-es6-class": ["error", "always"],
    "react/prefer-read-only-props": "error",
    "react/prefer-stateless-function": "error",
    "react/prop-types": ["error", { "skipUndeclared": true }],
    "react/react-in-jsx-scope": "error",
    "react/require-default-props": ["off", { "ignoreFunctionalComponents": true }],
    "react/require-optimization": ["off"],
    "react/require-render-return": "error",
    "react/self-closing-comp": ["error"],
    "react/sort-comp": [
      "error",
      {
        "order": [
          "static-variables",
          "instance-variables",
          "getters",
          "setters",
          "constructor",
          "lifecycle",
          "render",
          "instance-methods",
          "everything-else",
          "static-methods"
        ]
      }
    ],
    "react/sort-prop-types": ["off"],
    "react/state-in-constructor": ["error", "never"],
    "react/static-property-placement": ["off"],
    "react/style-prop-object": ["error"],
    "react/void-dom-elements-no-children": "error",
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error",
    "require-atomic-updates": "error",
    "require-await": "error",
    "require-unicode-regexp": "off",
    "rest-spread-spacing": ["error", "never"],
    "semi": ["error", "always"],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "semi-style": ["error", "last"],
    "sort-imports": ["off", "using import/order"],
    "sort-keys": "off",
    "sort-vars": "error",
    "symbol-description": "error",
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", "always"],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "spaced-comment": ["error", "always", { "block": { "balanced": true }, "markers": ["/"] }],
    "strict": ["error", "never"],
    "switch-colon-spacing": "error",
    "template-curly-spacing": ["error", "never"],
    "template-tag-spacing": ["error", "never"],
    "unicode-bom": ["error", "never"],
    "vars-on-top": "off",
    "wrap-iife": ["error", "inside", { "functionPrototypeMethods": true }],
    "wrap-regex": "off",
    "yoda": ["error", "never", { "exceptRange": true }],
    "yield-star-spacing": ["error", "after"]
  },
  "reportUnusedDisableDirectives": true,
  "ignorePatterns": [
    "build/*",
    "config/*",
    "scripts/*"
  ],
  "overrides": [
    {
      "files": ["**/*.test.ts", "**/*.test.tsx"],
      "extends": ["plugin:jest/recommended", "plugin:jest/style", "react-app/jest"],
      "plugins": [
        "jest"
      ]
    },
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript"
      ],
      "rules": {
        // enabling typescript version for enums, interfaces, etc
        "brace-style": "off",
        "comma-dangle": "off",
        "comma-spacing": "off",
        "default-param-last": "off",
        "dot-notation": "off",
        "func-call-spacing": "off",
        "indent": "off",
        "init-declarations": "off",
        "keyword-spacing": "off",
        "lines-between-class-members": "off",
        "no-array-constructor": "off",
        "no-dupe-class-members": "off",
        "no-duplicate-imports": "off",
        "no-empty-function": "off",
        "no-extra-parens": "off",
        "no-extra-semi": "off",
        "no-implied-eval": "off",
        "no-invalid-this": "off",
        "no-loop-func": "off",
        "no-magic-numbers": "off",
        "no-redeclare": "off",
        "no-shadow": "off",
        "no-throw-literal": "off",
        "no-unused-expressions": "off",
        "no-unused-vars": "off",
        "no-use-before-define": "off",
        "no-useless-constructor": "off",
        "quotes": "off",
        "require-await": "off",
        "no-return-await": "off",
        "semi": "off",
        "space-before-function-paren": "off",
        "space-infix-ops": "off",
        "@typescript-eslint/array-type": ["error"],
        "@typescript-eslint/ban-tslint-comment": "error",
        "@typescript-eslint/ban-types": ["error"],
        "@typescript-eslint/brace-style": "error",
        "@typescript-eslint/class-literal-property-style": ["error", "fields"],
        "@typescript-eslint/comma-dangle": ["error", "never"],
        "@typescript-eslint/comma-spacing": ["error"],
        "@typescript-eslint/consistent-indexed-object-style": ["error", "record"],
        "@typescript-eslint/consistent-type-assertions": ["off"],
        "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
        "@typescript-eslint/consistent-type-imports": [
          "error",
          { "prefer": "no-type-imports", "disallowTypeAnnotations": true }
        ],
        "@typescript-eslint/default-param-last": "error",
        "@typescript-eslint/dot-notation": ["error"],
        "@typescript-eslint/explicit-function-return-type": ["error"],
        "@typescript-eslint/explicit-member-accessibility": ["error", { "accessibility": "no-public" }],
        "@typescript-eslint/explicit-module-boundary-types": ["error"],
        "@typescript-eslint/func-call-spacing": ["error", "never"],
        "@typescript-eslint/indent": ["error", 2],
        "@typescript-eslint/init-declarations": ["error", "always"],
        "@typescript-eslint/keyword-spacing": ["error"],
        "@typescript-eslint/lines-between-class-members": ["error", "always"],
        "@typescript-eslint/member-delimiter-style": [
          "error",
          {
            "multiline": {
              "delimiter": "semi",
              "requireLast": true
            },
            "singleline": {
              "delimiter": "semi",
              "requireLast": true
            }
          }
        ],
        "@typescript-eslint/member-ordering": ["error"],
        "@typescript-eslint/method-signature-style": ["error", "method"],
        "@typescript-eslint/naming-convention": [
          "error",
          {
            "selector": "default",
            "format": ["camelCase"],
            "leadingUnderscore": "allow",
            "trailingUnderscore": "allow"
          },
          {
            "selector": "variable",
            "modifiers": ["const"],
            "format": ["camelCase", "UPPER_CASE"],
            "leadingUnderscore": "allow",
            "trailingUnderscore": "allow"
          },
          {
            "selector": "typeLike",
            "format": ["PascalCase"]
          },
          {
            "selector": ["variable", "function"],
            "types": ["function"],
            "format": ["camelCase", "PascalCase"]
          }
        ],
        "@typescript-eslint/no-array-constructor": "error",
        "@typescript-eslint/no-base-to-string": ["error", { "ignoredTypeNames": [] }],
        "@typescript-eslint/no-confusing-non-null-assertion": "error",
        "@typescript-eslint/no-dupe-class-members": "error",
        "@typescript-eslint/no-duplicate-imports": "error",
        "@typescript-eslint/no-dynamic-delete": "error",
        "@typescript-eslint/no-empty-function": "error",
        "@typescript-eslint/no-empty-interface": ["error"],
        "@typescript-eslint/no-explicit-any": "error",
        "@typescript-eslint/no-extra-non-null-assertion": "error",
        "@typescript-eslint/no-extra-parens": ["error", "all", { "ignoreJSX": "all" }],
        "@typescript-eslint/no-extra-semi": "error",
        "@typescript-eslint/no-extraneous-class": ["error"],
        "@typescript-eslint/no-floating-promises": ["error"],
        "@typescript-eslint/no-for-in-array": "error",
        "@typescript-eslint/no-implicit-any-catch": ["error", { "allowExplicitAny": true }],
        "@typescript-eslint/no-implied-eval": "error",
        "@typescript-eslint/no-inferrable-types": ["error"],
        "@typescript-eslint/no-invalid-this": "error",
        "@typescript-eslint/no-invalid-void-type": ["error"],
        "@typescript-eslint/no-loop-func": "error",
        "@typescript-eslint/no-loss-of-precision": "error",
        "@typescript-eslint/no-magic-numbers": [
          "error",
          { "ignoreDefaultValues": true, "ignoreEnums": true }
        ],
        "@typescript-eslint/no-misused-new": "error",
        "@typescript-eslint/no-misused-promises": ["error"],
        "@typescript-eslint/no-namespace": ["error"],
        "@typescript-eslint/no-non-null-asserted-optional-chain": "error",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-parameter-properties": ["off"],
        "@typescript-eslint/no-redeclare": ["error"],
        "@typescript-eslint/no-require-imports": "error",
        "@typescript-eslint/no-shadow": ["error"],
        "@typescript-eslint/no-this-alias": ["error", { "allowDestructuring": true }],
        "@typescript-eslint/no-throw-literal": "error",
        "@typescript-eslint/no-type-alias": ["error", { "allowAliases": "always", "allowCallbacks": "always" }],
        "@typescript-eslint/no-unnecessary-boolean-literal-compare": ["error"],
        "@typescript-eslint/no-unnecessary-condition": ["error"],
        "@typescript-eslint/no-unnecessary-qualifier": "error",
        "@typescript-eslint/no-unnecessary-type-arguments": "error",
        "@typescript-eslint/no-unnecessary-type-constraint": "error",
        "@typescript-eslint/no-unsafe-assignment": "error",
        "@typescript-eslint/no-unsafe-call": "error",
        "@typescript-eslint/no-unsafe-member-access": "error",
        "@typescript-eslint/no-unsafe-return": "error",
        "@typescript-eslint/no-unused-expressions": [
          "error",
          { "allowShortCircuit": true, "allowTernary": true }
        ],
        "@typescript-eslint/no-unused-vars": ["error"],
        "@typescript-eslint/no-use-before-define": ["error"],
        "@typescript-eslint/no-useless-constructor": "error",
        "@typescript-eslint/no-var-requires": "error",
        "@typescript-eslint/prefer-as-const": "error",
        "@typescript-eslint/prefer-enum-initializers": "error",
        "@typescript-eslint/prefer-for-of": "error",
        "@typescript-eslint/prefer-function-type": "error",
        "@typescript-eslint/prefer-includes": "error",
        "@typescript-eslint/prefer-literal-enum-member": "error",
        "@typescript-eslint/prefer-namespace-keyword": "error",
        "@typescript-eslint/prefer-nullish-coalescing": ["error"],
        "@typescript-eslint/prefer-optional-chain": "error",
        "@typescript-eslint/prefer-readonly": ["error"],
        "@typescript-eslint/prefer-readonly-parameter-types": ["off"],
        "@typescript-eslint/prefer-reduce-type-parameter": "error",
        "@typescript-eslint/prefer-regexp-exec": ["off"],
        "@typescript-eslint/prefer-string-starts-ends-with": "error",
        "@typescript-eslint/prefer-ts-expect-error": "error",
        "@typescript-eslint/promise-function-async": ["error"],
        "@typescript-eslint/quotes": ["error", "single"],
        "@typescript-eslint/require-array-sort-compare": ["error"],
        "@typescript-eslint/require-await": "error",
        "@typescript-eslint/return-await": ["error", "always"],
        "@typescript-eslint/restrict-plus-operands": ["error"],
        "@typescript-eslint/restrict-template-expressions": ["error"],
        "@typescript-eslint/semi": ["error", "always"],
        "@typescript-eslint/space-before-function-paren": ["error", "always"],
        "@typescript-eslint/space-infix-ops": ["error"],
        "@typescript-eslint/strict-boolean-expressions": [
          "off",
          {
            "allowString": true,
            "allowNumber": true,
            "allowNullableBoolean": true,
            "allowNullableNumber": true,
            "allowNullableString": true,
            "allowNullableObject": true,
            "allowAny": true
          }
        ],
        "@typescript-eslint/switch-exhaustiveness-check": "error",
        "@typescript-eslint/triple-slash-reference": ["error"],
        "@typescript-eslint/type-annotation-spacing": ["error"],
        "@typescript-eslint/typedef": ["error"],
        "@typescript-eslint/unbound-method": ["error"],
        "@typescript-eslint/unified-signatures": "error"
      }
    },
    {
      "files": ["src/**/*.ts", "src/**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        // these rules are not supported by react's eslint
        "@typescript-eslint/no-unnecessary-type-constraint": "off",
        "@typescript-eslint/space-infix-ops": "off",
        "space-infix-ops": ["error"]
      }
    }
  ]
}
