.navbar {
  padding: 20px;
}

.navbar .nav-link {
  text-decoration: none;
  padding: 10px;
  box-shadow: 0 0 4px -2px;
  border-radius: 4px;
  color: blue;
  display: inline-block;
  margin: 4px;
}

.navbar .nav-link.active {
  font-weight: bold;
  background: blue;
  color: white;
}

.page-content {
  padding: 24px;
}

.With-DeepPink-Text {
  font-weight: bold;
  color: deeppink;
}

.With-AquaMarine-Text {
  color: aquamarine;
}

.footer {
  background: red;
}
