.navbar {
  padding: 20px;
}

.navbar > :not(:first-of-type) {
  margin-left: 10px;
}

.navbar .nav-link {
  text-decoration: none;
  padding: 10px;
  box-shadow: 0 0 4px -2px;
  border-radius: 4px;
  color: blue;
}

.navbar .nav-link.active {
  font-weight: bold;
  background: blue;
  color: white;
}

.With-DeepPink-Text {
  font-weight: bold;
  color: deeppink;
}

.With-AquaMarine-Text {
  color: aquamarine;
}
